@charset "UTF-8";

.header {height: 120px;}

#logo {
	font-size: 100px;
	color: yellowgreen;
}

.banner {height: 300px;}

.menu {background-color: yellowgreen;}

.contents {min-height: 600px;}

.signUp {width: 1800px;}

.bg-green {background-color: yellowgreen;}

.signUpForm {width: 400px;}

.signUpMenu {width: 120px;}

.signInForm {width: 147px;}

.min-400 {min-height: 400px;}
.min-200 {min-height: 200px;}

.width-800 {width: 800px;}

.border {
	border-radius: 10px;
	border-style: solid;
  	border-color: yellowgreen;
}

.bg-yellow {background-color: lemonchiffon;}